requests~=2.27.1
pandas~=1.3.5
pyarrow~=6.0.0
jinja2~=3.0.3
sqlalchemy~=1.4.25
sqlparse~=0.4.2
sql-metadata~=2.3.0
networkx~=2.6.3
psycopg2~=2.9.3
pyyaml~=6.0
click~=8.0.3
cerberus~=1.3.4
openpyxl~=3.0.9
PyMySQL~=1.0.2
snowflake-connector-python~=2.7.2
snowflake-sqlalchemy~=1.3.3
sqlalchemy-redshift~=0.8.9
pandas-gbq~=0.16.0
sqlalchemy-bigquery~=1.3.0
google-cloud-storage~=2.0.0
google-cloud-bigquery-storage~=2.11.0
greenlet~=1.1.2
python-dateutil~=2.8.2
